@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap');

/* ------- GLOBALS ------- */

body {
    font-family: 'Roboto', sans-serif;
}

.main-wrapper {
    max-width: 1024px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.background-dark {
    background-color: #1F2937;
}

.background-blue {
    background-color: #3882F6;
}

.margin-none {
    margin: 0;
}

.radius-sm {
    border-radius: 8px;
}

.radius-lg {
    border-radius: 20px;
}

.border-none {
    border: none;
}


/* ------- FLEX ------- */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-0 {
    flex: 0;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}


/* ------- TEXT POSITION ------- */

.text-centered {
    text-align: center;
}


/* ------- PADDING ------- */

.padding-none {
    padding: 0;
}

/* Padding Top & Bottom */

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-140 {
    padding-top: 140px;
    padding-bottom: 140px;
}

/* Padding Left & Right */

.px-24 {
    padding: 24px;
}

.px-28 {
    padding-left: 28px;
    padding-right: 28px;
}

.px-36 {
    padding-left: 36px;
    padding-right: 36px;
}

.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.px-120 {
    padding-left: 120px;
    padding-right: 120px;
}

/* Padding Top */

.pt-16 {
    padding-top: 16px;
}

/* Padding Right */

.pr-100 {
    padding-right: 100px;
}


/* ------- FONT COLOR ------- */

.text-white {
    color: #f9faf8;
}

.text-light-gray {
    color: #dedede;
}

.text-gray {
    color: #bcbcbc;
}

.text-dark-gray {
    color: #1F2937;
}


/* ------- FONT SIZE ------- */

.text-xxlrg {
    font-size: 48px;
}

.text-xlrg {
    font-size: 36px;
}

.text-lrg {
    font-size: 24px;
}

.text-med {
    font-size: 18px;
}


/* ------- FONT WEIGHT ------- */

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 900;
}


/* ------- HERO SECTION ------- */

#header-logo {
    font-weight: 800;
}

ul {
    gap: 24px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero-body {
    gap: 40px;
    margin: 100px 0;
}

#hero-secondary-text {
    margin-top: 4px;
}

/* ------- INFO SECTION ------- */

#info-section-header {
    margin-top: 48px;
}

#info-section-container {
    gap: 60px;
    margin-top: 48px;
    margin-bottom: 80px;
}

.info-item {
    flex: 0;
    text-align: center;
    width: 200px;
    color: #6e6e6e;
}

.info-item img {
    border-radius: 20px;
    height: 180px;
    width: auto;
}

/* ------- QUOTE SECTION ------- */

#quote-section {
    background: #e5e7eb;
}

#quote-text {
    font-weight: 100;
    font-style: italic;
}

#quote-attribution {
    text-align: right;
    margin-top: 10px;
}

/* ------- CTA SECTION ------- */

#cta-section {
    margin: 80px 0;
}

#cta-button {
    background: none;
    border-color: #fff;
    border-style: solid;
    font-size: 16px;
    font-weight: 600;
}

